


#fly-in {
  margin-top:20px;
  height: 450px;
  background-image:url(../img/banner05.jpg);
  background-position:center;
  background-size:cover;
      padding-top: 180px;
    text-align: center;
}

#fly-in span {
  display: block;
  opacity: .8;
}

#fly-in div {
 position:absolute; 
  
  opacity: 0;
  left: 10vw;
  width: 80vw;
  animation: switch 24s linear infinite;
}
.span1{
	font-size:36px;
	    width: 80%;
    margin: 0 auto;}
#fly-in div:nth-child(2) { animation-delay: 4s;}
#fly-in div:nth-child(3) { animation-delay: 8s}
#fly-in div:nth-child(4) { animation-delay: 12s}
#fly-in div:nth-child(5) { animation-delay: 16s}
#fly-in div:nth-child(6) { animation-delay: 20s}
/*#fly-in div:nth-child(7) { animation-delay: 24s}
#fly-in div:nth-child(8) { animation-delay: 28s}*/

@keyframes switch {
    0% { opacity: 0;filter: blur(20px); transform:scale(12)}
    3% { opacity: 1;filter: blur(0); transform:scale(1)}
    10% { opacity: 1;filter: blur(0); transform:scale(.9)}
    13% { opacity: 0;filter: blur(10px); transform:scale(.1)}
    80% { opacity: 0}
    100% { opacity: 0}
}